[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "PcapPlusPlus"]
	path = PcapPlusPlus
	url = https://github.com/seladb/PcapPlusPlus.git
[submodule "vanetza"]
	path = vanetza
	url = https://code.nap.av.it.pt/mobility-networks/vanetza.git
